@font-face {
    font-family: 'Open-Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-size: 1em;
}

header {
    width: 100%;
    height: 150px;
    background-color: rgb(94, 41, 154, 0.9);
    z-index: 2;
    position: relative;
}

header .container {
    position: relative;
}

header .header-black li {
    background-image: url(../images/clubs.png);
    background-repeat: no-repeat;
    display: inline-block;
}

header .header-black li a {
    width: 32px;
    height: 32px;
    display: block;
    margin: 4px 2px;
}

header .header-black li.club-01 {
    background-position: 0px 0px;
}

header .header-black li.club-02 {
    background-position: -45px 0px;
}

header .header-black li.club-03 {
    background-position: -92px 0px;
}

header .header-black li.club-04 {
    background-position: -136px 0px;
}

header .header-black li.club-05 {
    background-position: -187px 0px;
}

header .header-black li.club-06 {
    background-position: -235px 0px;
}

header .header-black li.club-07 {
    background-position: -285px 0px;
}

header .header-black li.club-08 {
    background-position: -330px 0px;
}

header .header-black li.club-09 {
    background-position: -374px 0px;
}

header .header-black li.club-10 {
    background-position: -425px 0px;
}

header .header-black li.club-11 {
    background-position: -477px 0px;
}

header .header-black li.club-12 {
    background-position: -523px 0px;
}

header .header-black li.club-13 {
    background-position: -574px 0px;
}

header .header-black li.club-14 {
    background-position: -625px 0px;
}

header .header-black li.club-15 {
    background-position: -672px 0px;
}

header .header-black li.club-16 {
    background-position: -716px 0px;
}

header .header-black li.club-17 {
    background-position: -760px 0px;
}

header .header-black li.club-18 {
    background-position: -804px 0px;
}

header .header-black li.club-19 {
    background-position: -853px 0px;
}

header .header-black li.club-20 {
    background-position: -899px 0px;
}

header .header-black li.club-21 {
    background-position: -946px 0px;
}

header .header-black li.club-22 {
    background-position: -994px 0px;
}

header .header-black {
    height: 40px;
    background-color: #000;
}

header #logo {
    position: absolute;
    top: -20px;
}

#menu {
    font-family: "Open-Sans";
    margin: 10px 0;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    display: inline-block;
}

#menu li.search-btn {
    width: 182px;
}

#menu li.search-btn input {
    background-color: #54208f;
    color: #fff;
    border: none;
    height: 35px;
    line-height: 30px;
}

#menu li.search-btn ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
}

#menu li.search-btn button {
    background: none;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#menu li.search-btn button i {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}

#menu li a {
    color: #fff;
    size: 16px;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
}

#banner {
    width: 100%;
    height: 728px;
    background: url(../images/banner.jpg);
    position: relative;
    top: -110px;
    background-position: 130px -40px;
}